<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title data-th-text="#{label.edit.news}">Edit News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container border border-dark border-3 border-bottom-0">
    <nav class="row">
        <div class="col-6">
            <h1 data-th-text="#{label.header}">News Management</h1>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a href="/?language=en" data-th-text="#{label.lang.en}">English</a>&nbsp;
            <a href="/?language=ru" data-th-text="#{label.lang.ru}">Russian</a>
        </div>
    </nav>
</div>

<div class="container border border-dark border-3">
    <div class="row p-1">
        <div class="col-2  border border-light border-2 mx-2 bg-light">
            <h5  align="center" class="bg-secondary text-white" data-th-text="#{label.news}">News</h5>
            <div class="bg-white pt-2 pb-2">
                <ul>
                    <li><a href="/" data-th-text="#{label.news.list}">News List</a></li>
                    <li><a href="/news/new" data-th-text="#{label.add.news}">Add News</a></li>
                </ul>
            </div>
        </div>

        <div class="col">
            <nav style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" data-th-text="#{label.news}">News</a></li>
                    <li class="breadcrumb-item active" aria-current="page" data-th-text="#{label.add.news}">Add News</li>
                </ol>
            </nav>

            <form th:method="PATCH" th:action="@{/news/{id}(id=${newsPage.getId()})}" th:object="${newsPage}">

                <div class="row">
                    <div class="col-2">
                        <label for="newsTitle" data-th-text="#{label.news.title}">News Title</label>
                    </div>
                    <div class="input-group mb-3 col">
                        <input type="text" class="form-control" th:field="*{newsTitle}" id="newsTitle">
                        <div style="color: red" th:if="${#fields.hasErrors('newsTitle')}" th:errors="*{newsTitle}">News
                            date
                            error
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class=" col-2">
                        <label for="newsDate" data-th-text="#{label.news.date}">News Date</label>
                    </div>
                    <div class="col-3">
                        <input class="form-control" type="text" th:field="*{newsDate}" id="newsDate">
                        <div style="color: red" th:if="${#fields.hasErrors('newsDate')}" th:errors="*{newsDate}">News
                            title
                            error
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-2">
                        <label for="content" data-th-text="#{label.brief}">Brief</label>
                    </div>
                    <div class="form-floating col">
                            <textarea class="form-control" type="text" th:field="*{brief}" id="brief"
                                      rows="6"></textarea>
                        <div style="color: red" th:if="${#fields.hasErrors('brief')}" th:errors="*{brief}">
                            Content error
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-2">
                        <label for="content" data-th-text="#{label.content}">Content</label>
                    </div>
                    <div class="form-floating col">
                            <textarea class="form-control" type="text" th:field="*{content}" id="content"
                                      rows="6"></textarea>
                        <div style="color: red" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                            Content error
                        </div>
                    </div>
                </div>

                <br>
                <input type="submit" class="btn btn-outline-primary" value="SAVE">
                <a type="button" class="btn btn-outline-primary" href="/">CANCEL</a>
            </form>
        </div>
    </div>
</div>
<div class="container border border-dark border-3 border-top-0 d-flex justify-content-center">
    <p class="m-0 p-0"  data-th-text="#{label.copyright}">Copyright EPAM 2008. All rights reserved.</p>
</div>
</body>
</html>