<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_Security_Class_Config:war exploded">
    <output-path>$PROJECT_DIR$/target/Spring_Security_Class_Config</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>Spring_Security_Class_Config</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_Security_Class_Config" />
        </element>
      </element>
    </root>
  </artifact>
</component>